@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import '@fontsource/geist';
@import '@fontsource/geist-mono';
@import '@fontsource/outfit';

@theme {
	--font-sans: 'Geist', sans-serif;
	--font-mono: 'Geist Mono', monospace;
	--font-title: 'Outfit', sans-serif;

	/* Generated accent color palettes. */
	--color-accent-200: #b3c7ff;
	--color-accent-600: #364bff;
	--color-accent-900: #182775;
	--color-accent-950: #131e4f;
	/* Generated gray color palettes. */
	--color-gray-100: #f5f6f8;
	--color-gray-200: #eceef2;
	--color-gray-300: #c0c2c7;
	--color-gray-400: #888b96;
	--color-gray-500: #545861;
	--color-gray-700: #353841;
	--color-gray-800: #24272f;
	--color-gray-900: #17181c;
}

.site-title {
	@apply font-title font-light gap-2 text-2xl tracking-tighter text-black dark:text-white;
}

.social-icons svg {
	@apply size-4.5;
}

starlight-theme-select svg {
	@apply size-5;
}

starlight-theme-select select {
	@apply ml-0.5;
}

starlight-lang-select svg {
	@apply size-5;
}

starlight-lang-select select {
	@apply ml-0.5;
}
