@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import '@fontsource/geist';
@import '@fontsource/geist-mono';

@theme {
	--font-sans: 'Geist', sans-serif;
	--font-mono: 'Geist Mono', monospace;

	/* Generated accent color palettes. */
	--color-accent-200: #b3c7ff;
	--color-accent-600: #364bff;
	--color-accent-900: #182775;
	--color-accent-950: #131e4f;
	/* Generated gray color palettes. */
	--color-gray-100: #f5f6f8;
	--color-gray-200: #eceef2;
	--color-gray-300: #c0c2c7;
	--color-gray-400: #888b96;
	--color-gray-500: #545861;
	--color-gray-700: #353841;
	--color-gray-800: #24272f;
	--color-gray-900: #17181c;
}
